html, body {
    background-color: #fcfcfc !important;
    font-family: 'Segoe UI' !important;
    height: 100%;
}

#sidebar-wrapper {
    z-index: 1039;
    background-color: #0b7fec;

    top: 51px;
    bottom: 0;
    height: auto;
}

#sidebar-wrapper ul {
    list-style-type: none;
    color: #fff;
    font-style: italic;
}

#sidebar-wrapper a {
    list-style-type: none;
    color: #fff;
    font-style: normal;
}

/*#sidebar-wrapper > ul  {
    font-size: 0.75em;
}*/

.faqSource ul {
    display: none;
}

.faqSource:hover ul {
    display: block;
}

.navbar-inverse {
    background-color: #0195ff;
    border-color: #0195ff;
}

/* Sticky footer styles
    -------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    background-color: #222;
    border-color: #080808;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 30px;
    /*position: absolute;*/
    position: fixed;
    width: 100%;
}

    .footer .container p {
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        margin-top: 6px !important;
    }

/* END - Sticky footer styles */

[ng-cloak] {
    display: none;
}

body {
    padding-top: 51px;
}

.navbar-fixed-bottom {
    bottom: 30px;
}

/*@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: url("//bot-framework.azureedge.net/fonts/SegoeUI-Normal/latest.eot");
    src: url("//bot-framework.azureedge.net/fonts/SegoeUI-Normal/latest.eot?") format("embedded-opentype"), url("//bot-framework.azureedge.net/fonts/SegoeUI-Normal/latest.woff") format("woff"), url("//bot-framework.azureedge.net/fonts/SegoeUI-Normal/latest.ttf") format("truetype"), url("//bot-framework.azureedge.net/fonts/SegoeUI-Normal/latest.svg#web") format("svg");
}

@font-face {
    font-family: 'SegoeMDL2';
    font-style: normal;
    font-weight: normal;
    src: url("/Content/glyphs/segmdl2-webfont.woff2") format("woff2"), url("/Content/glyphs/segmdl2-webfont.woff") format("woff");
}*/

/*#wrap {
    height: auto !important;
    min-height: 100%;
}*/

body { overflow: hidden; }

#wrap {
    overflow-y: auto;
    top: 51px;
    /*bottom:*/ 
    position: absolute;
    width: 100%;
}

.user-icon-div {
    float: right;
    height: 32px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 10px !important;
    padding-right: 6px !important;
    width: 38px;
}

.bot-icon-div {
    float: left;
    height: 32px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 10px !important;
    padding-right: 6px !important;
    width: 38px;
}

.msg-animate {
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-name: fadeInAndUp;
    animation-timing-function: ease-in-out;
}

@keyframes fadeInAndUp {
    0% {
        bottom: -5px;
        opacity: 0.1;
    }

    50% {
        bottom: -2.5px;
        opacity: 0.5;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}


p {
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

table {
    empty-cells: show;
}

.message-text {
    font-family: 'Segoe UI' !important;
    font-size: 15px !important;
    word-wrap: break-word !important;
    /*line-height:1em;*/
}

    /*.message-text img {
        max-height: 300px;
        max-width: 250px;
        width: 100%;
    }*/

    .message-text p {
        width: 100%;
        /*word-break: break-word;*/
        word-wrap: break-word;
    }

    .message-text code {
        display: block;
        white-space: pre-wrap;
        width: 100%;
    }

a {
    color: #fff !important;
}

#wrap a {
    color: #337ab7 !important;
}

.bot-msg {
    color: #000000 !important;
    float: left;
    left: 38px;
    margin-left: 10px !important;
    width: auto !important;
}

.bot-msg-bubble {
    border: 8px solid;
    bottom: auto;
    height: 0;
    left: 32px;
    position: absolute;
    right: auto;
    top: 18px;
    width: 0;
}


.user-msg {
    color: #FFFFFF !important;
    float: right !important;
    margin-right: 10px !important;
    width: auto !important;
}

.user-msg-body {
    display: inline-block !important;
    float: right;
}

.bot-msg-body {
    display: inline-block !important;
}

.user-msg-bubble {
    border: 8px solid;
    bottom: auto;
    height: 0;
    left: auto;
    position: absolute;
    /*right: -5.5px;*/
    right: 2.3em;
    top: 18px;
    width: 0;
}

#body-container {
    bottom: auto !important;
    left: 0 !important;
    overflow-y: auto;
    padding: 10px !important;
    position: absolute !important;
    right: 0 !important;
    /*top: 38px !important;*/
}

#messages-container-t {
    empty-cells: show;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

#messages-container-c {
    vertical-align: bottom;
}


#bottom-box {
    height: auto;
    padding: 2px !important;
}

#send-btn {
    background-color: #FFFFFF !important;
    height: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    width: 100%;
}

.message-panel {
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #fcfcfc !important;
    border: 0 !important;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 10px !important;
    max-width: 80% !important;
    min-width: 0 !important;
}

.message-panel-timestamp {
    background-color: #FFFFFF;
    border-top: 0 solid !important;
    color: #000000;
    font-family: 'Segoe UI' !important;
    font-size: 11px;
    margin-top: 5px;
    /*opacity: 0.4;*/
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

.bot-msg-alternative > .bot-msg {
    max-width: 78.333333% !important;
}

.bot-msg-alternative .botBackgroundColor {
    background-color: #c7cfd4 !important;
}

.bot-msg-alternative .bot-msg-bubble-color {
    border-color: transparent #c7cfd4 transparent transparent !important;
}

.user-message-panel-timestamp {
    clear: both;
    float: right !important;
}

textarea:focus, input:focus {
    outline: none;
}

.no-sides-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.botAccentColor {
    background-color: #dbdee1 !important;
}

.userBackgroundColor {
    background-color: #808c95 !important;
}

.user-msg-bubble-color {
    border-color: transparent transparent transparent #808c95 !important;
}

.bot-msg-bubble-color {
    border-color: transparent #eceff1 transparent transparent !important;
}

.botBackgroundColor {
    background-color: #eceff1 !important;
}

.modal a {
    color: #337ab7 !important;
    cursor: pointer;
}

.modal td.delete .fa {
    color: #c12e2a;
}

.modal td.save .fa {
    color: #419641;
}

.table-striped-tbody > tbody:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-striped-tbody.table-hover > tbody:hover {
    background-color: #f5f5f5;
}

.modal-body {
    max-height: 80vh;
    overflow-y: auto;
}